@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    width: 375px;
    font-family: "Outfit", sans-serif;
}
body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Arial', sans-serif;
    width: 375px;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 180%;
    padding-right: 100%;
}
h1{
    color: #1F314F;
    padding-bottom: 25px;
}
p{
    font-size: 20px;
    font-weight: 400;
    color: #7D889E;
    text-align: center;
    padding-bottom: 25px;
    width: 320px;
    padding-left: 25px;
}
img {
    border-radius: 25px;
}
.container{
    background-color: #ffffff;
    border-radius: 25px;
    padding: 20px;
}
.attribution{
    font-size: 11px;
    color: #7D889E;
}


